.git
__pycache__
*.py[cod]
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
*.sqlite3
media/
static/
temp.json
temp2.json
temp3.json

temp.py
temp2.py
temp3.py

.one.vscode/

scriptes/
**/test_functions/
elk-logging
deleted/

stg_conf

env
env/